<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorComponentComms</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="event-callback">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Event Callback
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cascading">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Cascading example
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ref-example">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>By Ref example
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="two-way-binding-example">
                <i class="bi bi-list-nested-nav-menu" aria-hidden="true"></i>Two-way binding
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
